.Upper {
  display: flex;
  /* align-items: center;
  justify-content: space-around; */
}

.Upper img {
  margin: 0px 30%;
}

@media only screen and (max-width: 1000px) {
  .Upper img {
    margin: 0px 5%;
  }
}
